# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

#! Next Auth (Required)
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="random-string"
NEXTAUTH_URL="http://localhost:3000"

# Prisma (Optional)
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# Mock database password is set to '12345678'
# DATABASE_URL="postgresql://postgres:12345678@localhost:5432/full-stack-next-app"

# Next Auth Google Provider (Optional)
#GOOGLE_CLIENT_ID="google-client-id"
#GOOGLE_CLIENT_SECRET="google-client-secret"
